:host {
  display: flex;
  justify-content: center;
}

.box {
  padding: 20px;
  background-color: rgb(240,240,240);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}

mat-form-field {
  margin-bottom: 10px !important;
}

mat-hint {
  color: red !important;
}

.handset {
  width: 90%;
}

.tablet {
  width: 300px;
}

.web {
  width: 300px;
}
