section {
  height: 100vh;
  overflow: hidden;
  background-color: rgb(230,230,230);
  color: rgb(50,50,50);
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 5px;
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 2fr 7fr;
    justify-items: center;
    color: rgb(50,50,50);
    mat-icon {
      margin-top: 5px !important;
      color: rgb(50,50,50) !important;
    }
  }
}

.menu-logo {
  display: flex;
  justify-content: center;
  margin: 20px;
  .title {
    margin: auto 0;
    margin-left: 20px;
  }
}

.landscape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.menuBtn mat-icon {
  font-size: 25px !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
}
