<mat-card class="project-link">
  <mat-card-header>
    <mat-icon mat-card-avatar>link</mat-icon>
    <mat-card-title>LINKS</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>link</mat-icon>
        <div matListItemTitle *ngIf="project.url_homologation">{{project.url_homologation}}</div>
        <div matListItemTitle *ngIf="!project.url_homologation">Nenhuma informações encontrada</div>
        <div matListItemLine>Servidor de homologação</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>link</mat-icon>
        <div matListItemTitle *ngIf="project.url_production">{{project.url_production}}</div>
        <div matListItemTitle *ngIf="!project.url_production">Nenhuma informações encontrada</div>
        <div matListItemLine>Servidor de produção</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>link</mat-icon>
        <div matListItemTitle *ngIf="project.url_git">{{project.url_git}}</div>
        <div matListItemTitle *ngIf="!project.url_git">Nenhuma informações encontrada</div>
        <div matListItemLine>Link do github</div>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="linkProject(project.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
