<mat-card class="project-link">
  <mat-card-header>
    <mat-icon mat-card-avatar>link</mat-icon>
    <mat-card-title>LINKS</mat-card-title>
    <mat-card-subtitle *ngIf="links.length == 0">Nenhum colaborador cadastrado</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let link of links">
        <mat-icon matListItemIcon>link</mat-icon>
        <div matListItemTitle>{{link.url}}</div>
        <div matListItemLine>{{link.description}}</div>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="addLinkProject()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="linksProject()" [disabled]="links.length == 0">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
