section {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

img {
  width: 300px;
}
