:host {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  margin-top: 10px;
  width: 100%;
}

mat-option {
  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
  }

  img {
    width: 40px;
    border-radius: 100%;
  }

  span {
    margin: auto 0;
    margin-left: 20px;
  }
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.btn {
  width: 100%;
}
