<mat-toolbar class="title" color="accent">
  <span>Links do Projeto</span>
  <button mat-icon-button aria-label="Example icon button with a home icon" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="image">
    <!-- <th mat-header-cell *matHeaderCellDef> No. </th> -->
    <td mat-cell *matCellDef="let element" style="width: 20%; text-align: center;">
      <mat-icon style="color: rgb(150,150,150);">link</mat-icon>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="info">
    <!-- <th mat-header-cell *matHeaderCellDef> Name </th> -->
    <td mat-cell *matCellDef="let element" style="width: 60%;">
      <mat-list>
        <mat-list-item>
          <div matListItemTitle>{{element.url}}</div>
          <div matListItemLine>{{element.description}}</div>
        </mat-list-item>
      </mat-list>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="action">
    <!-- <th mat-header-cell *matHeaderCellDef> Weight </th> -->
    <td mat-cell *matCellDef="let element" style="width: 20%;">
      <button mat-icon-button color="warn" (click)="onDelete(element.id)" style="float: right;">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
